<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOBoUZV275-tQyXFnoToZR1emUPY2OEz0</string>
	<key>GCM_SENDER_ID</key>
	<string>1061293193591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.edu.rmit.edu.BookDiscovery</string>
	<key>PROJECT_ID</key>
	<string>bookdiscovery-9f27f</string>
	<key>STORAGE_BUCKET</key>
	<string>bookdiscovery-9f27f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061293193591:ios:e64027919d8f40253e4972</string>
</dict>
</plist>